<form [formGroup]="searchMoviesForm" (ngSubmit)="onSearch()">
  <div class="form-group">
    <label for="searchTerm">Search Movies</label>
    <input
      type="text"
      id="searchTerm"
      formControlName="searchTerm"
      class="form-control"
      placeholder="Enter movie title"
    />
    </div>
  </form>

  <div class="card">
    <div class="card-header">
      <h3>Movies List</h3>
    </div>
    <div class="card-body">
      <div *ngFor="let movie of movies" class="movie-item">
        <h3 class="title">{{ movie.title }}</h3>
        </div>
    </div>
    </div>